$main-color: #1db954;
$main-color-light: #4fb874;
$main-color-dark: #1aa149;
$white: #ffffff;
$black: #191414;

* {
  box-sizing: border-box;
}

body {
  color: $black;
  font-family: sans-serif;
}

ul, ol {
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin: 0 8px;
}

.main-title {
  margin: 32px auto;
  width: fit-content;
  font-size: 2rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-p {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0;
}

.medium-p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.main-button {
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: $white;
  background-color: $main-color;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-button:hover {
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: $white;
  background-color: $main-color-light;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-button:active {
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: $white;
  background-color: $main-color-dark;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.menu-wrapper {
  margin-top: 88px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 32px;
}

.flip-card {
  display: block;
  width: 280px;
  height: 280px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front h2 {
  text-shadow: 0 0 4 rgba(0, 0, 0, 0.4);
}

.artist-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;width: 280px;
  height: 240px;
  background-color: $black;
  color: white;
  margin: 48px auto;
}

.artist-card p {
  font-size: 24px;
  text-align: center;
  margin: 18px 4px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
}

#create-own {
  background-image: url("../images/create-own.jpg");
}

#music-festival {
  background-image: url("../images/music-festival.jpg");
}

#around-world {
  background-image: url("../images/around-world.jpg");
}

.flip-card-front {
  background-color: $main-color;
}

.flip-card-back {
  background-color: $black;
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-back .medium-p {
  width: 200px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.form * {
  width: 100%;
}

.label {
  font-weight: 600;
  margin: 40px 0 16px 0;
}

.input {
  height: 2rem;
  border-radius: 8px;
  border-color: #eaeaea;
  border-style: solid;
}

.required::after {
  content: "*";
  color: red;
}

#confirmation-message {
  text-align: center;
}

#generatePlaylistArtistandTracks {
  width: 100%;
  margin: auto;
  tr {
    width: 100%;
  }
  th,
  td {
    box-sizing: border-box;
    padding: 15px;
  }
  thead {
    th {
      background: #000;
      color: #fff;
      text-align: left;
    }
  }

  tbody {
    text-align: left;
    th {
      background: #eee;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .menu-wrapper {
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .line-up-wrapper {
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto;
    column-gap: 40px;
    margin: 0 auto;
  }

  .artist-card {
    width: 480px;
    height: 400px;
    margin: 48px 0;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 24px 40px;
  }
  
  .big-p {
    font-size: 1.5rem;
  }
  
  .medium-p {
    font-size: 1.25rem;
  }

  .nav-list {
    gap: 40px;
    margin: 0 40px;
  }

}

// @media only screen and (min-width: 425px) {
//   .nav-list {
//     gap: 40px;
//     margin: 0 40px;
//   }
// }
