* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

body {
  color: #ffffff;
  font-family: sans-serif;
  background-color: #191414;
}

body:not(#home, #sign-in-bg) {
  color: #ffffff;
  font-family: sans-serif;
  background: radial-gradient(99.13% 183.21% at 99.13% 0%, #0C4D23 0%, #191414 54.74%);
  background-repeat: no-repeat;
  background-color: #191414;
}

#sign-in-bg {
  background-image: url("../images/sign-in-bg-img.jpg");
  -webkit-box-shadow: inset 0 0 0 2000px #1914147a;
          box-shadow: inset 0 0 0 2000px #1914147a;
  background-color: #191414;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sign-in-bg h2, #sign-in-bg h1 {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  text-align: center;
}

ul, ol {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 16px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin: 0 8px;
}

.main-title {
  margin: 32px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  text-align: center;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-p {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0;
}

.medium-p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.main-button {
  display: block;
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1db954;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-button:hover {
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #4fb874;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-button:active {
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #1aa149;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.menu-wrapper {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 16px;
}

.flip-card {
  display: block;
  width: 240px;
  height: 240px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
}

.flip-card-front h2 {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.artist-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 280px;
  height: 240px;
  background-color: #191414;
  color: white;
  margin: 48px auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.artist-card p {
  font-size: 24px;
  text-align: center;
  margin: 18px 4px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.4));
}

#home {
  background-image: url("../images/home-mobile-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #191414;
  margin: 0;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.flip-card-front {
  background-color: #191414;
}

.flip-card-back {
  background-color: #1db954;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip-card-back .medium-p {
  width: 200px;
}

.form {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form > * {
  width: 100%;
}

#create-own-form-button {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 20px auto;
}

#create-own-form-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form.form-desktop {
  width: 280px;
  margin-top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label {
  font-weight: 600;
  margin: 40px 0 16px 0;
}

.input {
  height: 2rem;
  border-radius: 8px;
  border-color: #eaeaea;
  border-style: solid;
}

.required::after {
  content: "*";
  color: red;
}

.checkbox-label {
  display: block;
  position: relative;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 200px;
  height: 200px;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 4px;
  overflow: hidden;
}

.custom-checkbox::after {
  display: block;
  content: "";
  position: absolute;
  right: 14px;
  top: 14px;
  width: 26px;
  height: 26px;
  background-image: url("../images/checkbox-unchecked.png");
}

.checkbox-artist-name {
  position: absolute;
  bottom: 0;
  padding: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
}

.default-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-label:hover .custom-checkbox img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.default-checkbox:checked ~ .custom-checkbox::after {
  background-image: url("../images/checkbox-checked.png");
}

#confirmation-message {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 24px 40px;
  }
  .big-p {
    font-size: 1.5rem;
  }
  .medium-p {
    font-size: 1.25rem;
  }
  .nav-list {
    gap: 40px;
    margin: 0 40px;
  }
  .burger {
    display: none;
  }
  .form.form-desktop {
    width: 640px;
    margin: 24px;
  }
  #create-own-form-inner {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1024px) {
  #home {
    background-image: url("../images/home-bg.jpg");
  }
  .menu-wrapper {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    margin-top: 88px;
    grid-gap: 40px;
  }
  .flip-card {
    width: 280px;
    height: 280px;
  }
  .line-up-wrapper, .playlist-list-wrapper {
    display: -ms-grid;
    display: grid;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    margin: 0 auto;
  }
  .artist-card {
    width: 480px;
    height: 400px;
    margin: 48px 0;
  }
  .form.form-desktop {
    width: 800px;
    margin: 40px;
  }
  #create-own-form-inner {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }
}
/*# sourceMappingURL=index.css.map */