$main-color: #1db954;
$main-color-light: #4fb874;
$main-color-dark: #1aa149;
$white: #ffffff;
$black: #191414;

body {
  color: $black;
  font-family: sans-serif;
}

.header-section {
  padding: 16px 0px;
}

.main-title {
  margin: 32px auto;
  width: fit-content;
  font-size: 2rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.main-button {
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: $white;
  background-color: $main-color;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-button:hover {
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: $white;
  background-color: $main-color-light;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.main-button:active {
  padding: 16px 24px;
  margin: 24px 0px;
  font-size: 1rem;
  color: $white;
  background-color: $main-color-dark;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.menu-wrapper {
  margin-top: 88px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 48px;
}

.menu-item {
  display: flex;
  width: 350px;
  height: 350px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  color: white;
  text-decoration: none;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.form * {
  width: 100%;
}

.label {
  font-weight: 600;
  margin: 40px 0 16px 0;
}

.input {
  height: 2rem;
  border-radius: 8px;
  border-color: #eaeaea;
  border-style: solid;
}

.required::after {
  content: "*";
  color: red;
}

#confirmation-message {
  text-align: center;
}

#generatePlaylistArtistandTracks {
  width: 100%;
  margin: auto;
  tr {
    width: 100%;
  }
  th,
  td {
    box-sizing: border-box;
    padding: 15px;
  }
  thead {
    th {
      background: #000;
      color: #fff;
      text-align: left;
    }
  }

  tbody {
    text-align: left;
    th {
      background: #eee;
    }
  }
}
